<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <!-- custom css -->
    <link id="pagestyle" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Font: Lato -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicon-16x16.png') }}">

    <meta charset="UTF-8">
    <title> COVID-19 APP {% block title %} {% endblock title %}</title>

</head>

<body>

<!-- TODO przycisk z nazwa usera nie klika sie na calym polu, przez ikony. -->
    <div class="header">
        <a href="{{ url_for('core.index') }}" class="logo">C<i class="fas fa-virus"></i>VID-19 APP</a>
        {% if current_user.is_authenticated %}
            <div class="header-right">
                <a href="{{ url_for('core.index') }}">Home</a>
                <a href="{{ url_for('core.report') }}">Report</a>
                <a href="{{ url_for('core.stats') }}">Statistics</a>
                <div class="dropdown-wrapper">
                    <button class="dropbtn" onclick="userMenuDropdown()">
                        <i class="far fa-user-circle" style="font-size:22px;"></i>
                        {{ current_user.login }}
                        <i class="fa fa-caret-down" style="font-size:16px;"></i>
                    </button>
                    <div class="dropdown-content" id="user-dropdown">
                        <a href="{{ url_for('users.personal_info') }}">Personal information</a>
                        <a href="{{ url_for('users.logout') }}">Log out</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="header-right">
                <a href="/">Home</a>
                <a href="/login">Log in</a>
                <a href="/register">Sign up</a>
            </div>
        {% endif %}
    </div>

    <!-- Page content -->
    <div class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mesg in messages %}
                <p class="dotted">{{ mesg }}</p>
            {% endfor %}
       {% endif %}
    {% endwith %}
<br>


    {% block content %}

    {% endblock content %}
    </div>


    <!-- SCRIPTS -->
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/ba76e96f76.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.bundle.min.js') }}"></script>
    <!-- main.js script -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

<footer>
<button type="button" class="btn btn-dark btn-sm" onclick="swapStyleSheet('{{ url_for('static', filename='css/dark.css') }}')">Dark Style</button>
<button type="button" class="btn btn-light btn-sm" onclick="swapStyleSheet('{{ url_for('static', filename='css/main.css') }}')">Classic Style</button>


</footer>

</html>