{% extends "base.html" %}

{% block content %}

<div class="jumbotron mt-2 text-center">
<h1>COVID-19 APP</h1>
<h2>
    COVID-19 APP is simple web application, where you can check actual restrictions, check statistics for whole world or
    registered users. You have also possibility to upload your form for infected people, which is meant to be send to
    your WSSE.
</h2>

<hr class="my-4">
<a class="btn btn-primary btn-lg" href="{{ url_for('core.actual_restrictions') }}" role="button">Check actual restrictions</a>

    <br>

<small>{{ count_number }}</small>
<br>
<br>
<h1>In which category for vaccine will you be?</h1>
    <br>
<form action="" method="POST">
    <h5>How old are you?</h5>
<input type="number" name="age" id="age">
    <br>
<input class="form-check-input" type="checkbox" value="1" id="swh">
<label class="form-check-label" for="swh">
    Do you live in social welfare home?
</label>
    <br>
<input class="form-check-input" type="checkbox" value="1" id="gov">
<label class="form-check-label" for="gov">
    Are you government worker (teacher, police officer, firefighter etc.)?
</label>
    <br>
<input class="form-check-input" type="checkbox" value="1" id="sick">
<label class="form-check-label" for="sick">
    Are you chronically ill, undergoing treatment or diagnosis?
</label>
    <br>
<input type="button" value="Submit" onclick="return loadXMLDoc()">
</form>
    <h3>Your category is:</h3>
<div class="result" id="myDiv"></div>

</div>

{% endblock content %}