<div class="jumbotron mt-2 text-center">
    <h1>Stats</h1>
<p>Actual number of infected people is: {{ number_result }}</p>
<p>Data for every voivodeship: Lower Silesian {{ number_result1 }}, Kuyavian-Pomeranian {{ number_result2 }},
Lublin {{ number_result3 }}, Lubusz {{ number_result4 }}, Lodz {{ number_result5 }},
Lesser Poland {{ number_result6 }}, Masovian {{ number_result7 }}, Opole {{ number_result8 }},
Subcarpathian {{ number_result9 }}, Podlaskie {{ number_result10 }}, Pomeranian {{ number_result11 }},
Silesian {{ number_result12 }}, Holy Cross {{ number_result13 }}, Warmian-Masurian {{ number_result14 }},
Greater Poland {{ number_result15 }}, West Pomeranian {{ number_result16 }}</p>

</div>
